.parameters p {
  color: white;
}
.currentDegrees {
  font-size: 30px;
}
.currentTime {
  font-size: 40px;
}
.centerAlign {
  height: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
