.block {
  background-color: #1a202c;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

  opacity: 0.8;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.block h2 {
  color: white;
}
.forecastSection {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 3px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  overflow: hidden;
  min-height: 5rem;
}
.forecastMain {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow-x: auto;
}
.forecastBlock {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
hr {
  color: white;
}
