.parameters {
  text-align: center;
}
.parameters p {
  color: white;
}
.forecastCol {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 1rem;
}
